body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('background-image.jpg'); /* Background image for the page */
  background-size: cover;
  color: #333;
}

.container {
  text-align: center;
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Button background color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    width: 80%; /* Adjust button width */
    max-width: 300px; /* Limit maximum button width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a:hover {
    background-color: #0056b3; /* Hover state background color */
}

img {
    width: 20px; /* Adjust icon size */
    margin-right: 10px; /* Spacing between icon and text */
}